<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/thymeleaf/css/main.css">
</head>
<body>
    <header th:insert="~{layouts/header :: headerFragment}"></header>
    <div class="container center">
        <h1>Home Page</h1>
    </div>
    <footer th:insert="~{layouts/footer :: footerFragment}"></footer>
</body>
</html>