<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    </head>

    <!-- To be used in conjunction with tab_with_window.html, hence hx-target="#contentArea" -->
<!-- TODO: Fuss with the css to make sure that it does not overflow left OR right, and to make sub-windows or something, give each sub-window a certain amount of space (40% for instructions, 20 for other, etc.) -->
    <div th:fragment="drillDetails">
        <p class="error center" th:text="${errorMessage}"></p>
        <p class="success center" th:text="${successMessage}"></p>
        <div class="view-window">
            <div class="window-title" th:text="${name}"></div>
            <p th:text="'ID: ' + ${id}"></p>

            <!-- TODO: make each of these a box (sub-sub-window?) -->
            <div class="view-window">
                <div class="window-title">Instructions</div>
                <ul>
                    <li th:each="instructionDetails : ${instructionsList}">
                        <div class="description" th:text="${instructionDetails.description}"></div>
                        <div th:text="'&emsp;Video ID: ' + ${instructionDetails.videoId}"></div>
                        <p>Steps:</p>
                        <ol>
                            <li  th:each="step : ${instructionDetails.steps}" th:text="${step}"></li>
                        </ol>
                        <br>
                    </li>
                </ul>
            </div>
            <br>

            <div class="view-window">
                <div class="window-title">Categories</div>
                <ul class="window-list">
                    <li th:each="category : ${categoriesList}" th:text="${category.name}"></li>
                </ul>
            </div>
            <br>

            <div class="view-window">
                <div class="window-title">Subcategories</div>
                <ul class="window-list">
                    <li th:each="subCategory : ${subCategoriesList}" th:text="${subCategory.name}"></li>
                </ul>
            </div>
            <br>

            <div class="view-window">
                <div class="window-title">Related Drills</div>
                <ul class="window-list">
                    <li th:each="relatedDrill : ${relatedDrillsList}" th:text="${relatedDrill.name}"></li>
                </ul>
            </div>
            <br><br>

             <div class="button-container">
                <button class="button"
                    th:hx-get="${backEndpoint}"
                    hx-target="#contentArea"
                    hx-swap="innerHTML">
                    Back
                </button>
            </div>
        </div>
    </div>
</html>