<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    </head>

    <!-- To be used in conjunction with tab_with_window.html, hence hx-target="#contentArea" -->
    <div th:fragment="viewWindowList">
        <p class="error center" th:text="${errorMessage}"></p>
        <p class="success center" th:text="${successMessage}"></p>
        <div class="view-window">
            <div class="window-title" th:text="${windowTitle}"></div>
            <ul class="window-list">
                <li th:each="listItem : ${listItems}">
                    <span th:text="${listItem['itemDescription']}"></span>
                    <button
                        th:text="${buttonText}"
                        th:hx-get="${listItem['htmxEndpoint']}"
                        hx-target="#contentArea"
                        hx-swap="innerHTML"
                        hx-indicator=".loading-indicator"></button>
                </li>
            </ul>
        </div>
        <img class="center-image loading-indicator" src="/thymeleaf/images/loading-indicator.gif" />
    </div>
</html>